---
import Navigation from "../components/Navigation.astro";
//TODO 6: Fill in all placeholders based on blog metadata properties
---
<Navigation />
<h1>##Blog Title##</h1>
<article>    
    <p><em>By ##Author Name## on ##Publish Date##</em></p>
    <slot />
</article>