---
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Blog Posts";
//TODO 4: Perform the same steps as in index.astro
---

<BaseLayout pageTitle={pageTitle}>
        <main>
            <p>Here are some of my blogs...</p>
            <ul>
                <li><a href="/blogs/blog1">Blog 1</a></li>
                <li><a href="/blogs/blog2">Blog 2</a></li>
            </ul>
        </main>
</BaseLayout>