---
//TODO 1: Create a reusable layout to replace the repeated base HTML markup
//TODO 2: Define a constant "pageTitle" and pass it down as a property to BaseLayout, replacing the heading <h1>
//TODO 3: Create a reusable Contact footer component (just like Navigation) and include it at the bottom of BaseLayout
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
        <main>
		    <p>Welcome to My First Astro Site...</p>
        </main>
</BaseLayout>